# Node.js modules
node_modules/

# dotenv environment files
# .env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# VS Code files
.vscode/

# Debugger configuration files
.idea/
